* {
    font-family: ABeeZee;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    width: 100%;
}


#acciojobtxt {
    color: #012555;
    font-family: Bai Jamjuree;
    font-size: 21.714px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: -0.869px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff
}

#list-items > li > a {
    color: #4f4f4f;
}

.nav1:hover{
    color: rgb(7, 154, 233) !important;
}

.hero-section {
    background-color: #2f80ed;
    font-style: italic;
    color: white;
    font-size: large; 
    text-align: center;
}

.l1 {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.75px;
}

.launchyourcareer1 {
    color: #221f48;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    line-height-step: 20px;
    letter-spacing: -0.75px;

}

.launchyourcareer1 > p {
    color: #2f80ed;
    font-size: 50px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.75px;
}

form > .name {
    background-color: #fafafa;
}

form > .number {
    background-color: #fafafa;
}

.launchyourcareer1 {
    display: flex;
}

.left-h-sec {
    margin: 2%;
}

.curriculum {
    display: flex;
    margin-right: 10px ;
    }

.lakh41 {
    color: #2b2f34;
    font-family: ABeeZee;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
}

.Highest-Salary {
    color: #4f4f4f;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%; /* 18.6px */
    letter-spacing: 0.12px;
}

.below-hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    margin-left: 2%;
    margin-top: 20px;
    padding: 90px 108px 90px 108px;
}

.left-below-hero-sec {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    margin-top: 60px;
    gap: 10px;
    border-radius: 23px;
    background: #fff;
    box-shadow: 0px 20px 20px 0px rgba(107, 7, 127, 0.12);
}

.left-above-hero-sec {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 711px;
    height: 65px;
    padding-bottom: 70px;
    padding-top: 150px;
    align-items: flex-end;
    gap: 34px;
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    background: #fff;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
}

.right-h-sec {
    display: inline-flex;
    padding: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    border-radius: 18px;
    background: #fff;
    box-shadow: 20px 50px 50px 30px rgba(82, 4, 93, 0.12);
}

.name {
    margin-bottom: 10px;
}

.apply {
    display: flex;
    width: 367px;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 8px;
    background: var(--New, linear-gradient(277deg, #992fed 0%, #2f80ed 100%));
    color: white;
}

.apply:hover{
    color: white !important;
}

pre {
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #818d9d;
}

a {
    text-decoration: none;
}

.course-we-offer {
    background: #ecf8ff;
}

.course-we-offer > h5 {
    text-align: center;
    font-family: ABeeZee;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    background: var(--New, linear-gradient(277deg, #992fed 0%, #2f80ed 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.our-courses {
    background-color: #ecf8ff;
    padding: 30px;
}

.course-we-offer > h1 {
    color: #2f80ed;
    text-align: center;
    font-family: ABeeZee;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 54px */
    letter-spacing: -0.54px;
}

.card {
    background-color: #ecf8ff;
    border-radius: 5px;
    margin-top: 50px;
    width: rem;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    border: none;
}

.card1 {
    border: solid #2f80ed 3px;
    background-color: #ffff;
    border-radius: 8px;
    width: 30rem;
    row-gap: 10px;
    padding: 20px;
}

.half-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    padding: 20px;
}

.Ideal-For-first-time-coders {
    display: inline-flex;
    padding: 6px 15px;
    margin-top: -60px;
    align-items: flex-start;
    gap: 18px;
    border-radius: 7px;
    border: 2px solid #2f80ed;
    background: var(--primaryskyblue, #2f80ed);
    color: white;
}

.Ideal-For-first-time-coders > span {
    color: var(--BLACK, #2b2f34);
    font-family: ABeeZee;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.btn-1 {
    color: #1d78b0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.placement {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.brochure {
    color: skyblue;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid var(--primaryskyblue, #2f80ed);
    background: #fff;
}

.brochure:hover{
    background-color: #2F80ED;
}

.learn-more {
    color: white;
    background: var(--primaryskyblue, #2f80ed);
}

.learn-more:hover{
    color: black;
}

.sec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.hiringpara > p {
    background: var(--New, linear-gradient(277deg, #992fed 0%, #2f80ed 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.companies {
    padding: 70px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
}

.companies-logo {
    width: 205px;
    height: 110px;
    padding:65px;
    transition: width 2s ease, height 2s ease, transform 2s ease;
}

.btn-2 {
    display: flex;
    width: 250px;
    color: #fff;
    padding: 14px 6px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 8px;
    background: var(--primaryskyblue, #2f80ed);
    border: none;
}

.card-para > p {
    font-style: normal;
}

.Alumni {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}

.name-of-student {
    font-size: small;
}

.student-card {
    width: calc(100% - 20rem);
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: 2;
    gap: 15px;
}

.card-1-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-1 {
    border-radius: 10px;
    padding: 24px;
    border: 2px solid #d7d7d7;
    background: #fff;
    height: fit-content;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
}

.card-4{
    border-radius: 10px;
    padding: 24px;
    border: 2px solid #d7d7d7;
    background: #fff;
    height: fit-content;
    margin-top: -95px;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
}

.card-6{
    border-radius: 10px;
    padding: 24px;
    border: 2px solid #d7d7d7;
    background: #fff;
    height: fit-content;
    margin-top: -50px;
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);
}

.Placement_Report:hover{
    color:black;
}

.companies-logo>img:hover{
    width: 200px;
    height: 100px;
}

@media screen and (max-width:500px) {
    .navbar{
        display: flexbox;
        flex-direction: column;
    }

    .hero-section{
        display: none;
    }

}